ENV=developmen/production
RUNTIME_ENV=standalone/deno-deploy/cloudflare-workers
PORT=8000
API_URL=https://domain.xyz
BOT_ACCESS_TOKEN=token_for_bot_to_access_api
JWT_SECRET=jwt_secret
BOT_API_URL=http://localhost:8081
BOT_API_ACCESS_TOKEN=token_to_access_bot_api
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1234567890/ABCDEFGH
DB_URL=file:./data/steamutils.db
DB_TOKEN=db_token
ENCRYPTION_KEY=encryption_key_for_passwords
UPSTASH_REDIS_URL=https://database.upstash.io
UPSTASH_REDIS_TOKEN=upstash_token